@using App.Data;
@model KeyValuePair<string, DbApp>;
@{
    ViewData["Title"] = "App";
}

<div class="text-center">
    <h1 class="display-4">Feedhub</h1>
    <p>Leave your Feedback right here, so we know what the heck in your mind:</p>
</div>

<form hx-post="/@Model.Key" hx-target="#list" hx-swap="afterbegin">
    <input type="text" name="@nameof(Feedback.User)" value="" placeholder="Name" />
    <textarea name="@nameof(Feedback.Content)" placeholder="Your feedback"></textarea>
    <input type="submit" value="" />
</form>

<div id="list">
    @foreach (var feedback in Model.Value.Feedbacks)
    {
        @await Html.PartialAsync("_Feedback", feedback)
    }
</div>