@using Web.Data;
@model IEnumerable<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Feedhub</h1>
    <p>Leave your Feedback right here, so we know what the heck in your mind:</p>
</div>

<div>
</div>