@using Web.Data;
@model AppViewModel;
@{
    ViewData["Title"] = "App";
}

<div class="text-center">
    <h1 class="display-4">Feedhub</h1>
    <p>Leave your Feedback right here, so we know what the heck in your mind:</p>
</div>

<form hx-post="/@Model.Slug" hx-target="#list" hx-swap="afterbegin" style="max-width:360px; width:100%;">
    <input type="text" style="width:100%;" name="@nameof(FeedbackController.Input.User)" value="" placeholder="Name" />
    <textarea style="width:100%; margin-top:0.5rem;" rows="10" name="@nameof(FeedbackController.Input.Content)" placeholder="Your feedback"></textarea>

    <div style="display:flex; gap:0.5rem; margin-top:0.5rem;">
        <button type="submit" value="@FeedbackController.ReportBugAction" name="action">Report Bug</button>
        <button type="submit" value="@FeedbackController.LeaveFeedbackAction" name="action">Leave Feedback</button>
    </div>
</form>

<div id="list">
    @foreach (var feedback in Model.Issues)
    {
        @await FeedbackController._FeedbackView.Render(Html, new FeedbackViewModel(feedback.Title, feedback.Body));
    } 
</div>